<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
        {{ content }}
    </div>
		<!--Google Adsense start-->
		<div align="center">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- 모바일반응형광고 -->
			<ins class="adsbygoogle"
					 style="display:block"
					 data-ad-client="ca-pub-3631999499596941"
					 data-ad-slot="1082006791"
					 data-ad-format="auto"></ins>
			<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>
		<!--Google Adsense End-->

		{% include footer.html %}

  </body>

</html>
